@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 font-family: 'Comfortaa', cursive;
 background-image: url("bg.jpg");
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
}
.container{
  width: 940px;
  background-color: cornsilk;
  box-shadow: darkgrey;
  min-height: 350px;
  padding: 80px 90px;
  border-radius: 16px ;
  display: flex;
}
.leftside,.rightside{
    width: 50%;

}
.rightside h1{
    color: darkslateblue;
}
.rightside h2{
    color: darkslateblue;
    margin: 20px auto 10px;
    font-size: 25px;
}
.rightside ul{
    color: darkslateblue;
    font-size: 18px;
    margin-top: 5px;
    font-weight: 600;
    list-style-type: circle;
    list-style-position: inside;
}
.rightside a{
    background-color: deepskyblue;
    border-radius: 100px;
    color: wheat;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 15px 0;
    margin-top: 25px;
    text-decoration: none;
    outline: none;
}
 /* Questions css starts from here */

.box{
    background-color: azure;
    border-radius: 10px;
    box-shadow: black;
    min-height: 450px;
    width: 740px;
    padding: 50px;
}
.title{
  border-bottom: 1px solid rgb(14, 12, 12);
  color: black;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.header{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.scoreBox , .timerBox{
    border-radius: 100px;
    padding: 10px 15px;
    border: 1px solid blue;
    color: #444;
}
.questionBox{
    background-color: burlywood;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
}
.optionBox span{
    background-color: #ccc;
    color: #444;
    border-radius: 10px;
    border: 1px solid #444;
    padding: 10px 15px;
    /* grid-gap: 15px; */

}
.optionBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0;
    grid-gap: 15px; 
}
.optionBox span.right{
background-color: blueviolet;
border-color: brown;
color: white;
}
.optionBox span.wrong{
    background-color: rgb(147, 206, 37);
border-color: brown;
color: white;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.footer button{
    background-color: lightseagreen;
    border-radius: 5px;
    padding:7px 15px;
    color: #fff;
    outline: none;
    border: 0;
    font-size: 15px;
}
.resultBox{
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    font-size: 20px;

}
.resultBox *:nth-child(odd){
    text-align: right;
}
.resultBox span{
    font-weight: 600;
}
.buttonBox{
    border-top: 1px solid black;
    padding-top: 15px;
    text-align: center;
}
.buttonBox a{
    background-color: blue;
    border-radius: 50px;
    border: 0;
    text-decoration: none;
    color: #fff;
    outline: none;
    padding: 7px 15px;
}
/* media query starts from here  */
