<!DOCTYPE html>
<html>
<head>
	<title>recruiter result page</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>












<h2>The best people for yor requirement are listed below<h2>
	 <section> 
        <!-- TABLE CONSTRUCTION--> 
        <table> 
            <tr> 
                <th>Name</th> 
                <th>email</th> 
                <th>Score</th> 
            </tr> 
            <!-- PHP CODE TO FETCH DATA FROM ROWS--> 
            <?php   // LOOP TILL END OF DATA  
                while($rows=$result->fetch_assoc()) 
                { 
             ?> 
            <tr> 
                <!--FETCHING DATA FROM EACH  
                    ROW OF EVERY COLUMN--> 
                <td><?php echo $rows['username'];?></td> 
                <td><?php echo $rows['problems'];?></td> 
                <td><?php echo $rows['score'];?></td>
            </tr> 
            <?php 
                } 
             ?> 
        </table> 
    </section> 
</body>
</html>